
<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<title>ISCAEMP - ISCAE</title>

<link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}">

<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/plugins/feather/feather.css' %}">

<link rel="stylesheet" href="{% static 'assets/plugins/icons/flags/flags.css' %}">

<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/plugins/select2/css/select2.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

 

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">

<style>
 #ai a:hover {
    background-color: rgb(81, 115, 250);
    color: aliceblue;
}

a.btn.btn-sm.bg-danger-light:hover,
a.btn.btn-sm.bg-danger-light:hover i {
    background-color: rgb(81, 115, 250) !important;
    color: aliceblue;
}






</style>


</head>
<body>

    <div class="main-wrapper">
    
    <div class="header">
    
    <div class="header-left">
    <a href="index.html" class="">
    <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
    </a>
    
    </div>
    
    <div class="menu-toggle">
    <a href="javascript:void(0);" id="toggle_btn">
    <i class="fas fa-bars"></i>
    </a>
    </div>
    
    
    
    
    <a class="mobile_btn" id="mobile_btn">
    <i class="fas fa-bars"></i>
    </a>
    
    
    <ul class="nav user-menu">
    <li class="nav-item dropdown language-drop me-2">
    <a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
    <img src="{% static 'assets/img/france.png' %}" alt="">
    </a>
    <div class="dropdown-menu">
    
    <a class="dropdown-item" href="javascript:;"><i class="flag flag-bl me-2"></i>Francais</a>
    
    </div>
    </li>
    
    
    
    <li class="nav-item zoom-screen me-2">
    <a href="#" class="nav-link header-nav-list">
    <img src="{% static 'assets/img/header-icon-04.svg' %}" alt="">
    </a>
    </li>
    
    <li class="nav-item dropdown has-arrow new-user-menus">
    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
    <span class="user-img">
    <img class="rounded-circle" src="{% static 'assets/img/admin.jpg' %}" width="31" >
    <div class="user-text">
        <h6>{{ user.username }}</h6>
        <p class="text-muted mb-0"></p>
        </div>
        </span>
        </a> 
        <div class="dropdown-menu">
        
        
        <a class="dropdown-item" href="/profiladmi">profil</a>
        
        <a class="dropdown-item" href="/signout">Logout</a>
    </div>
    </li>
    
    </ul>
    
    </div>
    
    
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="menu-title">
                        <span>Menu</span>
                    </li>
                    <li class="">
                        <a href="/index"><i class="feather-home"></i> <span>Acceuil</span> <span class=""></span></a>
                    </li>
                    {% if user.username == "admin" %}
                    <li class="submenu">
                        <a href="#"><i class="feather-grid"></i> <span>Tableau de bord</span> <span class="menu-arrow"></span></a>
                        <ul>
                           
                            <li><a href="/listrespo">Liste des responsable</a></li>
                            <li><a href="/singup">Ajouter des responsable</a></li>
                           
                        </ul>
                    </li>
                    {% endif %}
                    <li class="submenu">
                        <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span>Professeurs</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="/Listeprof">Liste des Professeurs</a></li>
                            <li><a href="/addp">Ajouter des Professeurs</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fas fa-building"></i> <span>Salles</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="/salle">Liste des Salles</a></li>
                            <li><a href="/add">Ajouter des Salles</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fas fa-book-reader"></i> <span>Filieres</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="/filiere">Liste des Filieres</a></li>
                            <li><a href="/addFil">Ajouter des Filieres</a></li>
                        </ul>
                    </li>
                    <li class="menu-title">
                        <span>Emplois</span>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fas fa-calendar-alt"></i> <span>Emplois</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="/ListeEmplois">Emplois cours</a></li>
                            <li><a href="/"> Emplois Professeurs</a></li>
                            <li><a href="/"> Emplois salles</a></li>
                        </ul>
                    </li>
                    <li class="menu-title">
                        <span>Suivi</span>
                    
                       
        
    
        </li>
    
        <li class="submenu">
            <a href="#"><i class="fas fa-tasks"></i> <span> Suivi</span> <span class="menu-arrow"></span></a>
            <ul>
                <li>
                    <a href="/generer_semaine"> <span>Suivi des cours</span></a>
                    <a href="/matSuivie"> <span>Suivi des Matieres</span></a>
                    <a href="/enregistrer_debut_semaines"> <span>Date Jour</span></a>
                    </li>
                  
            
            </ul>
            </li>
    </li>
    
    </ul>
    </li>
    </ul>
    </div>
    </div>
    </div>
    





<div class="page-wrapper">
    <div class="content container-fluid">
    
    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">profiles</h3>
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/salle">profiles</a></li>
    <li class="breadcrumb-item active">Liste des profiles</li>
    </ul>
    </div>
    </div>
    </div>
  <form>
    <div class="student-group-form">
    <div class="row">
    <div class="col-lg-3 col-md-6">
    <div class="form-group">
    <input type="text" name="q" class="form-control" placeholder=" ">
    </div>
    </div>
    

    <div class="col-lg-2">
    <div class="search-student-btn">
    <button type="submit" class="btn btn-primary">Rechercher</button>
    </div>
    </div>
    </div>
    </div>
  </form>
    <div class="row">
    <div class="col-sm-12">
    <div class="card card-table">
    <div class="card-body">

    
    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">liste des profiles</h3>
    </div>
    <div class="col-auto text-end float-end ms-auto download-grp">
        <a href="#" id="exportLink" class="btn btn-outline-primary me-2"><i class="fas fa-download"></i> Download</a>
        <a href="/filiere" class="btn btn-light" id="filter"><i class="fas fa-filter"></i> Filtrer</a>
        <a href="/addFil" class="btn btn-primary"><i class="fas fa-plus"></i></a>
    </div>
    </div> 
    </div>
    
    <div class="table-responsive" >
        {% block content %}   
        <table id="exportTable"class="table border-0 star-student table-hover table-center mb-0 datatable table-striped" id="invoice" >
        <thead>
            
                </div>
                <tr>
                    <th>Code Profil</th>
                    <th>libelle Profil</th>
                    <th>Niveau du Profil</th>
                    <th>Nombre d'etudiant </th>
                    <th><span style="color: aliceblue;">.........</span>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for p in profil %}
    <tr>
            <td>{{ p.codeProfil }}</td>
            <td>{{ p.LibelleProfil }}</td>
            <td>{{ p.Niv.Noniv }}</td>
            <td>{{ p.NbEtudlns }}</td>
            <td class="text-end">
                <div class="d-flex align-items-center">
                    <div class="mr-2">
                        <a href="{% url 'updateFil' p.codeProfil %}" class="btn btn-sm bg-danger-light">
                            <i class="feather-edit"></i>
                        </a>
                    </div>
                    <div class="mr-2" >
                        <a href="{% url 'deleteF' p.codeProfil %}" onclick="return confirm('Etes vous sur ?')" class="btn btn-sm bg-danger-light" >
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-sm bg-danger-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="feather-settings"></i>
                        </button>
                        <ul class="dropdown-menu">
                           <div id="ai"> <li><a class="dropdown-item" href="{% url 'mat' p.codeProfil %}">Matieres</a></li>
                            <li><a class="dropdown-item" href="{% url 'Cours' p.codeProfil %}">Cours</a></li></div>
                        </ul>
                    </div>
                </div>
            </td>
            
            
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
        
        {% endblock %}
        
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script>
        window.onload = function () {
    document.getElementById("download")
        .addEventListener("click", () => {
            const invoice = this.document.getElementById("invoice");
            console.log(invoice);
            console.log(window);
            var opt = {
                margin: 1,
                filename: 'myfile.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
            };
            html2pdf().from(invoice).set(opt).save();
        })
}
$(document).ready(function() {
    // Gérer le clic sur le bouton "Download"
    $('#exportLink').on('click', function(e) {
        e.preventDefault();
       
        // Créer un nouveau classeur (Workbook)
        var workbook = XLSX.utils.book_new();

        // Créer une nouvelle feuille (Worksheet)
        var worksheet = XLSX.utils.table_to_sheet(document.getElementById('exportTable'));

        $(document).ready(function() {
  // ...

  // Créer une nouvelle feuille (Worksheet)
  var worksheet = XLSX.utils.table_to_sheet(document.getElementById('exportTable'));

  // Appliquer les styles de bordure et de format aux cellules
  var borderStyle = { border: { top: { style: 'thin' }, bottom: { style: 'thin' }, left: { style: 'thin' }, right: { style: 'thin' } } };
  var boldStyle = { font: { bold: true } };
  var range = XLSX.utils.decode_range(worksheet['!ref']);

  // Parcourir les cellules de la première ligne (titres)
  for (var C = range.s.c; C <= range.e.c; ++C) {
    var cellAddress = XLSX.utils.encode_cell({ r: range.s.r, c: C });
    var cell = worksheet[cellAddress];
    if (cell) {
      cell.s = { ...borderStyle, ...boldStyle }; // Appliquer les styles de bordure et de gras
    }
  }

  // ...
});

        // Ajouter la feuille au classeur
        XLSX.utils.book_append_sheet(workbook, worksheet, 'Sheet1');

        // Convertir le classeur en binaire Excel
        var excelBinary = XLSX.write(workbook, { bookType: 'xlsx', type: 'binary' });

        // Convertir le binaire en blob
        var blob = new Blob([s2ab(excelBinary)], { type: 'application/octet-stream' });

        // Créer un lien de téléchargement
        var downloadLink = document.createElement('a');
        downloadLink.href = window.URL.createObjectURL(blob);
        downloadLink.download = 'data.xlsx';
        downloadLink.style.display = 'none';

        // Ajouter le lien au corps du document
        document.body.appendChild(downloadLink);

        // Cliquer sur le lien de téléchargement
        downloadLink.click();

        // Supprimer le lien du corps du document
        document.body.removeChild(downloadLink);
    });
});
function s2ab(s) {
    var buf = new ArrayBuffer(s.length);
    var view = new Uint8Array(buf);
    for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
    return buf;
}

    </script>


    



    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
   
   <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
   
   <script src="{% static 'assets/js/feather.min.js' %}"></script>
   
   <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
   
   <script src="{% static 'assets/plugins/select2/js/select2.min.js' %}"></script>
   
   <script src="{% static 'assets/js/script.js' %}"></script>


</body>
</html>